.rss-feeds-home {
  display: flex;
  height: 100%;
  .sidebar {
    width: 30%;
  }
  .main-content {
    flex: 1;
    border-left: 1px solid;
  }
}
.feed-error {
  position: fixed;
  background: #eee;
  padding: 6px;
  color: #ed2026;
  top: 63px;
  left: 10px;
  width: 484px;
  font-weight: bold;
  font-size: 14px;
}
